@import "tailwindcss";



body {
  /* display: flex; */
  margin: 0;
  font-family: 'system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif';

  background-color:  #9180f1;
  /* #e2e8fa */
 
  
}


.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
